@import url("./partials/login.css");
@import url("./partials/register.css");

@font-face {
  font-family: "Pacifico";
  src: url("../fonts/pacifico-regular.woff2") format("woff2"),
    url("../fonts/pacifico-regular.woff") format("woff");
}

body {
  background-color: white;
}

main {
  background-color: white;
}

form {
  max-width: 450px;
}

a:hover {
  opacity: 0.5;
}

#categories {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15),
    0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  max-width: 100%;
}

.search-bar {
  width: 300px;
}

.equal-width {
  flex: 1 0 0;
}


@media screen and (min-width: 450px) {
  body {
    background-image: url("../images/background.webp");
    background-repeat: repeat;
  }

  .search-bar {
    width: 400px;
  }
}