@font-face {
  font-family: "Pacifico";
  src: url("../fonts/pacifico-regular.woff2") format("woff2"),
    url("../fonts/pacifico-regular.woff") format("woff");
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  max-width: 100%;
}

.search-bar {
  width: 300px;
}

  .equal-width {
    flex: 1 0 0;
  }


@media screen and (min-width: 450px) {
  .search-bar {
    width: 400px;
  }    
}