{% extends "base.html" %}

{% block title %}
Actualizar cuenta
{% endblock %}

{% block main %}
<h2 class="mb-3 text-info">Actualizar cuenta de {{ session['username'] }}</h2>
<!-- 
  El atributo enctype="multipart/form-data" es esencial para cualquier formulario que incluya carga de archivos, 
  asegurando que tanto los datos de texto como los archivos binarios se envíen correctamente al servidor.
-->
<form action="/update_profile" method="post"
  class="d-flex flex-column align-items-center mb-5 py-3 mx-auto needs-validation" novalidate
  enctype="multipart/form-data">
  <div class="border border-warning rounded-circle bg-warning bg-opacity-25 p-2 mb-2">
    <img src="data:image/webp;base64,{{ user['profile_image'] }}" alt="Avatar" width="100" height="100"
      id="img-profile-image" class="rounded-circle">
  </div>
  <div class="form-group mb-3 d-flex flex-column align-items-start">
    <label for="input-profile-image" class="form-label">Imagen de perfil:</label>
    <input type="file" name="input-profile-image" id="input-profile-image" class="form-control register-input"
      accept="image/, .png, .jpg, .jpeg, .gif, .webp" aria-describedby="profile-image-help-block">
    <div id="profile-image-help-block" class="form-text">
      Selecciona el archivo que tendrá la imagen de tu perfil.
    </div>
  </div>
  <div class="form-group mb-3 d-flex flex-column align-items-start">
    <label for="username" class="form-label">Usuario:</label>
    <input type="text" name="username" id="username" class="form-control register-input" autocomplete="off" autofocus
      required value="{{ user['username'] }}">
    <div class="invalid-feedback text-start">
      Por favor, elija un nombre de usuario.
    </div>
  </div>
  <div class="form-group mb-3 d-flex flex-column align-items-start">
    <label for="email" class="form-label">Correo electrónico:</label>
    <input type="email" name="email" id="email" class="form-control register-input" autocomplete="off"
      placeholder="alguien@dominio.com" required value="{{ user['email'] }}">
    <div class="invalid-feedback text-start">
      Por favor proporcione un correo electrónico válido.
    </div>
  </div>
  <div class="form-group mb-3 d-flex flex-column align-items-start">
    <label for="current_password" class="form-label">Contraseña actual:</label>
    <input type="password" name="current_password" id="current_password" class="form-control register-input" required>
    <div class="invalid-feedback text-start">
      Por favor, ingrese su contraseña actual.
    </div>
  </div>
  <div class="form-group mb-3 d-flex flex-column align-items-start">
    <label for="new_password" class="form-label">Nueva contraseña (opcional):</label>
    <input type="password" name="new_password" id="new_password" class="form-control register-input"
      aria-describedby="password-help-block" minlength="8" maxlength="20">
    <div id="password-help-block" class="form-text text-start">
      Su nueva contraseña debe tener entre 8 y 20 caracteres. <br>
      Deje en blanco si no desea cambiarla.
    </div>
    <div class="invalid-feedback text-start">
      La contraseña no cumple con los requisitos mínimos.
    </div>
  </div>
  <div class="form-group mb-3 d-flex flex-column align-items-start">
    <label for="confirmation" class="form-label">Repetir contraseña:</label>
    <input type="password" name="confirmation" id="confirmation" class="form-control register-input" minlength="8"
      maxlength="20" required>
    <div class="invalid-feedback text-start">
      Ambas contraseñas deben ser iguales.
    </div>
  </div>
  <button type="submit" class="btn btn-success mt-3 px-4">Guardar cambios</button>
</form>

<form action="/delete_account" method="post" class="d-flex flex-column align-items-center mt-5 mx-auto">
  <div class="row text-start">
    <h2 class="text-danger">Borrar cuenta</h2>
    <hr>
    <p>Una vez que elimines tu cuenta, no podrás volver atrás. Asegúrate de hacerlo.</p>
  </div>
  <div class="row align-self-end">
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">Eliminar
      cuenta <i class="bi bi-trash ms-1"></i></button>
  </div>
</form>

<!-- Modal de confirmación -->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark text-light rounded-0">
        <h5 class="modal-title" id="deleteAccountModalLabel">Confirmar eliminación de cuenta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas eliminar tu cuenta? Esta acción no se puede deshacer.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <form action="/delete_account" method="post">
          <button type="submit" class="btn btn-danger">Eliminar cuenta</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='/scripts/custom-validation.js') }}"></script>
<script src="{{ url_for('static', filename='/scripts/profile-image-loader.js') }}"></script>
{% endblock %}