{% extends "base.html" %}

{% block title %}
Disculpa
{% endblock %}

{% block main %}
    <!-- https://memegen.link/ -->
    <!-- https://knowyourmeme.com/memes/grumpy-cat -->

    <!-- Use my custom image background on meme -->
    <img alt="{{ top }}" class="border border-5 rounded-2 p-1 img-fluid mb-4"
        src="https://api.memegen.link/images/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?background=https://i.imgur.com/150G0y1.jpeg&width=350"
        title="{{ top }}">

    <script src="{{ url_for('static', filename='/scripts/apology.js') }}"></script>
{% endblock %}