{% extends "base.html" %}

{% block title %}
Contacto
{% endblock %}

{% block main %}
<div class="container position-relative">
  <h1 class="mb-4">Contáctanos</h1>
  <p class="mb-4">¿Tienes alguna pregunta o sugerencia? ¡Nos encantaría saber de ti!</p>

  <form action="/contact" method="POST" class="d-flex flex-column align-items-center mb-5 py-3 mx-auto needs-validation" novalidate>
    <!-- 
      Campo oculto que contiene un token CSRF. Este token se compara con el token almacenado 
      en el servidor para verificar la autenticidad de la solicitud y evitar ataques de 
      falsificación de solicitudes entre sitios Cross-Site Request Forgery (CSRF).
    -->
     <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
     <div class="form-group mb-3 d-flex flex-column align-items-start">
      <label for="name" class="form-label">Nombre</label>
      <input type="text" class="form-control account-input" id="name" name="name" required autocomplete="true">
      <div class="invalid-feedback text-start">
        Por favor, ingresa tu nombre.
      </div>
    </div>
    <div class="form-group mb-3 d-flex flex-column align-items-start">
      <label for="email" class="form-label">Correo electrónico</label>
      <input type="email" class="form-control account-input" id="email" name="email" required autocomplete="true">
      <div class="invalid-feedback text-start">
        Por favor, ingresa un correo electrónico válido.
      </div>
    </div>
    <div class="form-group mb-3 d-flex flex-column align-items-start">
      <label for="subject" class="form-label">Asunto</label>
      <input type="text" class="form-control account-input" id="subject" name="subject" required>
      <div class="invalid-feedback text-start">
        Por favor, ingresa el asunto de tu mensaje.
      </div>
    </div>
    <div class="form-group mb-3 d-flex flex-column align-items-start">
      <label for="message" class="form-label">Mensaje</label>
      <textarea class="form-control account-input" id="message" name="message" rows="5" required></textarea>
      <div class="invalid-feedback text-start">
        Por favor, ingresa tu mensaje.
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar mensaje</button>
  </form>
  
  <img src="{{ url_for('static', filename='images/contact-form.webp') }}" class="position-absolute bottom-0 start-0 ms-sm-5 w-25 h-auto" alt="Imagen de fondo">
</div>

<script src="{{ url_for('static', filename='/scripts/contact-validation.js') }}"></script>
{% endblock %}