{% extends "base.html" %}

{% block title %}
Iniciar sesión
{% endblock %}

{% block main %}
<h2 class="mb-3 text-info">Iniciar sesión</h2>
<form action="/login" method="post"
  class="d-flex flex-column align-items-center mb-5 border border-2 rounded-3 shadow py-5 mx-auto">
  <div class="form-group mb-3 d-flex flex-column align-items-start">
    <label for="username" class="form-label">Usuario:</label>
    <input type="text" name="username" id="username" class="form-control login-input" autocomplete="off" autofocus>
  </div>
  <div class="form-group mb-3 d-flex flex-column align-items-start">
    <label for="password" class="form-label">Contraseña:</label>
    <input type="password" name="password" id="password" class="form-control login-input">
  </div>
  <button type="submit" class="btn btn-primary mt-3 px-4">Iniciar sesión</button>
</form>
{% endblock %}