<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Le Chef Recetas: {% block title %}{% endblock %}</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='/icons/favicon.png') }}" type="image/x-icon">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap-icons.min.css') }}">
  <script src="{{ url_for('static', filename='scripts/bootstrap.bundle.min.js') }}"></script>
  <!-- Mis estilos -->
   <link rel="stylesheet" href="{{ url_for('static', filename='/styles/styles.css') }}">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center w-100">
          <!-- Logo y marca -->
          <a href="/" class="navbar-brand d-flex align-items-center">
            <img class="rounded-circle" src="{{ url_for('static', filename='images/le-chef.webp') }}" alt="Logo" height="64"
              width="64">
            <span class="ms-2 fs-3">Le Chef</span>
            <span class="mt-5 ms-2 fs-5 align-self-end d-none d-sm-inline fw-light">Recetas de cocina</span>
          </a>
  
          <form class="d-none d-sm-flex mx-auto mt-2 mt-lg-0 search-bar">
            <input name="query" class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">
              <i class="bi bi-search"></i>
            </button>
          </form>
  
          {% if session["user_id"] %}
          {% else %}
          <ul class="d-none d-sm-flex navbar-nav ms-auto">
            <li class="nav-item"><a href="/register" class="nav-link">Registrarse</a></li>
            <li class="nav-item"><a href="/login" class="nav-link">Iniciar sesión</a></li>
          </ul>
          {% endif %}
        </div>
  
        <!-- Menú hamburguesa -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
          aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          {% if session["user_id"] %}
          {% else %}
          <ul class="d-flex d-sm-none navbar-nav ms-auto">
            <li class="nav-item"><a href="/register" class="nav-link">Registrarse</a></li>
            <li class="nav-item"><a href="/login" class="nav-link">Iniciar sesión</a></li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <!-- Barra de búsqueda -->
        <ul class="d-block d-sm-none nav justify-content-center w-100">
          <li class="nav-item">
            <form class="d-flex mx-auto mt-2 mt-lg-0 search-bar">
              <input name="query" class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">
                <i class="bi bi-search"></i>
              </button>
            </form>
          </li>
        </ul>
        <ul class="nav justify-content-center w-100 mt-2">
          <li class="nav-item"><a href="#" class="nav-link">Entradas</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Platos principales</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Bebidas</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Postres</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container py-5 text-center">
    {% block main %}
    {% endblock %}
  </main>
  <footer></footer>

</body>
</html>