{% extends "base.html" %}

{% block title %}Ver Receta{% endblock %}

{% block main %}
<article class="container px-sm-5" id="top">
  <header class="d-flex align-items-center w-100 mb-4">
    <h1 class="mb-0 py-2 justify-self-center mx-auto px-3">{{ recipe.title }}</h1>
    <!-- Botón de impresión -->
    <button class="btn btn-outline-primary justify-self-end me-3" data-bs-toggle="tooltip" data-bs-placement="bottom"
      title="Imprimir Receta" id="print-recipe">
      <i class="bi bi-printer"></i>
    </button>
  </header>

  <!-- Información de la receta -->
  <section class="row mb-2">
    <div class="mb-5">
      <img src="{{ recipe.image_url }}" class="img-fluid rounded shadow-lg" alt="{{ recipe.title }}" width="400px">
    </div>
    <div class="text-start">
      <p class="recipe-paragraph"><strong>Descripción:</strong> {{ recipe.description }}</p>
      <p><strong>Creada por:</strong> {{ recipe.username }}</p>
      <p><strong>Fecha de creación:</strong> {{ recipe.created_at.strftime('%d/%m/%Y') }}</p>
      <div class="row text-center mt-4 gx-3 d-flex no-print">
        <div class="col flex-grow-1">
          <h5 class="card-title"><i class="bi bi-pie-chart-fill"></i></h5>
          <p class="mb-1"><strong>Cantidad de porciones</strong></p>
          <p>{{ recipe.servings }}</p>
        </div>
        <div class="col flex-grow-1">
          <h5 class="card-title"><i class="bi bi-alarm"></i></h5>
          <p class="mb-1"><strong>Tiempo de preparación</strong></p>
          <p>{{ recipe.prep_time }} {{ recipe.prep_time_unit }}</p>
        </div>
        <div class="col flex-grow-1">
          <h5 class="card-title"><i class="bi bi-alarm-fill"></i></h5>
          <p class="mb-1"><strong>Tiempo de cocción</strong></p>
          <p>{{ recipe.cook_time }} {{ recipe.cook_time_unit }}</p>
        </div>
      </div>
    </div>
  </section>

  <hr class="no-print">

  <!-- Ingredientes -->
  <section class="row mb-4 text-start ">
    <h2 class="mb-3">Ingredientes</h2>
    <ul class="mb-4 ps-4">
      {% for ingredient in recipe.ingredients %}
      <li class="mb-3 recipe-paragraph">{{ ingredient }}</li>
      {% endfor %}
    </ul>
  </section>

  <!-- Pasos -->
  <section class="row mb-4 text-start ">
    <h2 class="mb-3">Instrucciones</h2>
    {% for step in recipe.steps %}
    <p class="mb-1 recipe-paragraph"><strong>Paso {{ loop.index }}:</strong></p>
    <p class="mb-4 recipe-paragraph">{{ step }}</p>
    {% endfor %}
  </section>


  <section class="row text-center mt-5 no-print">
    <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center">
      <a href="#top" class="btn btn-primary btn-lg mb-3 mb-sm-0 me-sm-4">
        <i class="bi bi-arrow-up-circle-fill"></i> Volver arriba
      </a>
      <a href="/" class="btn btn-outline-primary btn-lg">
        <i class="bi bi-house-door-fill"></i> Página principal
      </a>
    </div>
  </section>
  </article>

<script src="{{ url_for('static', filename='/scripts/print-recipe.js') }}"></script>
{% endblock %}